#ignore files
_ReSharper.*/
TestResults/
**/[Bb]in/
**/obj/
*.suo
*.docstates
**.vssscc
**.vspscc
**.[Rr]e[Ss]harper
**.user
**/[Ww]eb.config
**/[Aa]pp.config
**/AssemblyFileVersion.cs
UpgradeLog*.XML
**/UpgradeReport*.*
**.Publish.xml
*.sln.cache
**[Bb]in
**Test.xml
packages/
syntax: glob
**.squishit.css
**.squishit.debug.css
**.squishit.js
**.less.debug.css
Siriona.BookingEngine.Authentication/Assets/
*.orig
.vs/
.paket/paket.exe
*.ncrunchsolution
_NCrunch_*
*.ncrunchproject
.fake
paket-files/
.build/
.hg
.hgignore